CLOUD_INSTANCE="https://login.microsoftonline.com/" # cloud instance string should end with a trailing slash
GRAPH_API_ENDPOINT="https://graph.microsoft.com/" # graph api endpoint string should end with a trailing slash

TENANT_ID="Common"
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
EXPRESS_SESSION_SECRET=your_secret_key
REDIRECT_URI=your_redirect_uri
POST_LOGOUT_REDIRECT_URI=should_be_host_url